.App-header {
  height: 40px;
  background-color: lightgray;
}

.App-navigation {
  height:70px;
  background-color: lightblue;
}

.App-items-list{
  display:flex;
  padding: 12px 48px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App-item {
  height:300px;
  width:23%;
  border:1px solid gray;
  margin-bottom:12px;
}

.App-item img {
  width:100%;
}

.App-items-pagination {
  text-align: center;
  background-color: salmon;
  font-weight: bold;
  width: 50%;
  margin:0 auto;
  padding:24px 0;
  display:block;
}